.color_fondo {
  background-color: darkslategrey;
}

.contenedor_redes{
  display: flex;              
  flex-direction: column;     
  align-items: center;        

  
  max-width: 400px;          
  width: 90%;             
  margin: 50px auto;       
  padding: 30px; 
  border: 10px solid black;
  background-color: beige; 
  border-radius: 40px; /* Se redujo el radio para consistencia */
  justify-content: flex-start; /* empieza desde arriba */
}



.imagen{
  
  width: 150px;          /* ancho fijo */
  height: 150px;         /* alto fijo */
  border-radius: 50%;    /* lo convierte en círculo */
  object-fit: cover;     
  margin-top: 30px;      
  
}

.botones{
 border: 15px solid darkslategray;
  background-color: darkslategray;
  /* **CAMBIO CLAVE PARA RESPONSIVIDAD:** */
  padding: 15px 15px; 
  margin-bottom: 30px;
  display: block;
  border-radius: 40px;
  color: black;
  font-weight: bold; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-decoration: none;

}
.botones:hover{
  background-color: aliceblue;
  border: 15px solid aliceblue;
}

.icono{
  margin-right: 30px;
  font-size: 20px;
  
}

